html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
    --dark-green: #1B2920;
    --sage-green: #74977A;
    --white: #FFFFFF;
    --emerald-green: #4D8965;
    --dark-sage: #578172;
    --blueish-green: #B5D3C5;
    --dirt-green:#455548;

  
    /*Typography */
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
  }

  .light {
    --primary: var(--dark-green);
  --secondary: var(--sage-green);
  --third: var(--white);
  --fourth: var(--emerald-green);
  --fifth: var(--dark-sage);
  }