<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body class="light">

<div class="buttons">
<button class="button">popular</button>
<button class="button">recommeded</button>
<button class="button">post</button>
<div class="space">

</div>
</div>
    <div class="screen">
      <h1>THE</h1>
      <h2>SHOW</h2>
      <h2>OFF</h2>
    </div>

    <script type="module" src="/main.js"></script>
  </body>
</html>