<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>articles</title>
</head>
<body>
    {% include 'nav.njk'%}
    <section class="section-container">
        <ul class="articles">
            {%- for post in collections.post -%}
            <article class="article">
                <div class="article-text">
                    <h3 class="article-title">{{post.data.title}}</h3>
                </div>
            </article>
            {%- enfor -%}
        </ul>
    </section>
  
</body>
</html>